@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://use.typekit.net/pbm6mrk.css');

:root {
    --primary-bg-color: #f7ece6;
    --primary-color: #e8c1c5;
    --secondary-color: #d0a486;
    --success-bg-color: #e5675a;
    --info-bg-color: #95b0e5;
    --light-color: #ffffff;
    --dark-color: #353535;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--dark-color);
    line-height: 1.5rem
}

h1 {
    font-family: "novantique-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8rem;
    color: var(--dark-color);
}

h2 {
    font-family: "novantique-serif", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--dark-color);
    padding-bottom: 1rem;
}

.hover-h2:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--primary-bg-color);
}

.top-section {
    height: 2.5rem;
    background-color: var(--primary-bg-color);
}

.text-light {
    color: var(--light-color);
}

.project-header {
    width: min(90%, 80rem);
    margin-inline: auto;
}

.project-header-content {
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
}

@media(width >=40em) {
    .project-header-content {
        flex-direction: row;
    }
}

.project-header-text {
    text-align: center;
}

@media(width >=40em) {
    .project-header-text {
        text-align: start;
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrow {
    padding-bottom: 1.5rem;
    animation-name: mover;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.project-container {
    padding-block: 4rem;
}

@media(width >=60em) {
    .project-container {
        padding-block: 12rem;
    }
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 60rem);
    text-align: center;
}

.project-logo {
    padding-bottom: 3rem;
}

.two-images {
    display: flex;
    flex-direction: column;
}

.two-images-width,
.two-images-width-4,
.two-images-width-8 {
    width: 100%;
}

@media(width >=40em) {
    .two-images {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .two-images-width {
        width: 50%;
    }

    .two-images-width-4 {
        width: 33.33%;
    }

    .two-images-width-8 {
        width: 66.66%;
    }
}

.img-grid {
    display: flex;
    flex-direction: column;
}

.img-grid-width {
    width: 100%;
}

@media(width >=40em) {
    .img-grid {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .img-grid-width {
        width: 48.6%;
    }
}

/*botton navigation styling*/
.bottom-nav-container {
    padding-block: 10rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

@media(width >=40em) {
    .bottom-nav-container {
        gap: 4.5rem;
    }
}

.text-right {
    text-align: end;
}

.prev-project {
    background-image: url(../photos/project-nav-06.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 10%;
    height: 12vh;
}

.next-project {
    background-image: url(../photos/project-nav-07.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10%;
    background-position-y: 0;
    height: 12vh;
}

/*navigation styling*/
nav {
    margin: 0 auto 0;
    position: relative;
    width: 25rem;
    height: 3.2rem;
    background-color: #eeddd2;
    border-radius: 5rem;
    font-size: 0;
}

nav .nav-link {
    line-height: 50px;
    height: 100%;
    font-size: 1.1rem;
    font-family: "Work Sans", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: var(--light-color);
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 5rem;
}

.nav-link:nth-child(1) {
    width: 120px;
}

.nav-link:nth-child(2) {
    width: 160px;
}

.nav-link:nth-child(3) {
    width: 120px;
}

nav .start-home,
.nav-link:nth-child(1):hover~.animation {
    width: 120px;
    left: 0;
    background-color: var(--secondary-color);
}

nav .start-portfolio,
.nav-link:nth-child(2):hover~.animation {
    width: 160px;
    left: 120px;
    background-color: var(--secondary-color);
}

nav .start-about,
.nav-link:nth-child(3):hover~.animation {
    width: 120px;
    left: 280px;
    background-color: var(--secondary-color);
}

/*header styling*/
.header-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 6rem;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 80rem);
    padding-block: 4.5rem 12rem;
}

/*Work styling*/
#Work {
    padding-top: 4.5rem;
}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.style1 {
    border-top: 2px solid var(--secondary-color);
    opacity: 1;
    width: 30vw;
}

.line-left {
    margin-right: 2rem;
}

.line-right {
    margin-left: 2rem;
}

.work-projects {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

@media(width >=40em) {
    .work-projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.tile {
    text-align: left;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
}

.tile:hover span {
    animation: slideUp 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes slideUp {
    to {
        opacity: 1;
        top: 0;
    }
}

.title {
    line-height: 1;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "novantique-serif", sans-serif;
}

.info {
    line-height: 1.2;
    font-family: 'Work Sans', sans-serif;
}

.details {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    padding: 40px;
    color: var(--light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 100%);
    opacity: 0;
}

.tile:hover .details {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

/*daf styling*/
.DAF-navbar {
    background-image: url(../photos/DAF/MockupDAF4-header.png);
}

.gradientTwo {
    background-image: linear-gradient(#d3def4, #b7ccf7);
}

/*strijp styling*/
.strijp-navbar {
    background-color: #b7ccf7;
}

.gradientThree {
    background-image: linear-gradient(#b7ccf7, #e2bba1);
}

/*DDW styling*/
.gradientSeven {
    background-image: linear-gradient(#d3def4, #dcb6f2);
}

.ddw-navbar {
    background-color: #d3def4;
}

.container-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(width >=60em) {
    .container-image-text {
        display: flex;
        flex-direction: row;
    }
}

.collaberation-text {
    padding-inline: 2rem;
    text-align: center;
}

@media(width >=40em) {
    .collaberation-text {
        padding-inline: 3rem;
        text-align: start;
    }
}

/*lickalix styling*/
.lickalix-navbar {
    background-color: #e9cfbf;
}

.gradientFour {
    background-image: linear-gradient(#e9cfbf, #dcb6f2);
}

.project-container-lickalix {
    padding-top: 5.5rem;
}

.lickalix-text-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-inline: auto;
    width: min(90%, 80rem);
}

@media(width >=60em) {
    .lickalix-text-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

.lickalix-event-img {
    justify-content: center;
    width: 100rem;
}