@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --primary-bg-color: #F3EDE9;
    --primary-color: #e8c1c5;
    --secondary-color: #d0a486;
    --success-bg-color: #e5675a;
    --info-bg-color: #95b0e5;
    --light-color: #ffffff;
    --dark-color: #353535;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--dark-color);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3.8rem;
    color: var(--dark-color);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--primary-bg-color);
}

.top-section {
    height: 2.5rem;
    background-color: var(--primary-bg-color);
}

/*navigation styling*/
ul {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    margin-block: 0;
}

.navbar {
    width: fit-content;
    margin-inline: auto;
    padding: 0 6rem 0 6rem;
    border-radius: 50px;
    background-color: #E5D8CF;
}


/*header styling*/
.header-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 6rem;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 80rem);
    padding-block: 4.5rem 12rem;
}

/*Work styling*/
#Work {
    padding-top: 4.5rem;
}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.style1 {
    border-top: 2px solid var(--secondary-color);
    opacity: 1;
    width: 30vw;
}

.line-left {
    margin-right: 2rem;
}

.line-right {
    margin-left: 2rem;
}

.work-projects {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

@media(width >=40em) {
    .work-projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.tile {
    text-align: left;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
}

.title {
    line-height: 1;
    font-weight: 600;
}

.info {
    line-height: 1.2;
    margin-top: 5px;
}

.details {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    padding: 40px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}