@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    p {
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        color: var(--dark-color);

    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 3.8rem;
    }

    a {
        text-decoration: none;
    }

    --primary-bg-color: #F3EDE9;
    --primary-color: #e8c1c5;
    --secondary-color: #d0a486;
    --success-bg-color: #e5675a;
    --info-bg-color: #95b0e5;
    --light-color: #ffffff;
    --dark-color: #353535;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/*navigation styling*/

/*header styling*/
.header-section {
    background-color: var(--primary-bg-color);
}

.header-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 7rem;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 80rem);
    padding-block: 4.5rem 12rem;
}